    html {
        height: 100%;
  font-family: "textar";
  color: #00FF00;
    width:100%;
        cursor: url('../images/SWZJpHrixGdB.png'), default;
    }
    body {
        background-image:url(../images/ah1rNrcAQUNo.gif), linear-gradient(to bottom right,#000000, black);
background-attachment:fixed;
          margin-left:20%;
  margin-right:20%;
font-size:calc(1em + .3vw);
}

   @font-face {
  font-family: "textar";
  src: url("../fonts/qv5PjRUQwQlp.woff") format("woff"),
    url("../fonts/tf6mgwz6v533.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family:invasion2000;
  src: url(../fonts/aoFVoyt2EcGd.woff);
}
 @keyframes welcome {
  0% {opacity:0;}
  100% {opacity:1;}
}
 @keyframes welcome2 {
  0% {opacity:0;}
  100% {opacity:1;}
}
.welcome {
animation-name: welcome;
animation-duration: 1.2s;
position: relative;
animation-fill-mode:forwards;
animation-iteration-count: 1;
  margin-left:5%;
}
.welcome2 {
opacity: 0.0;
animation-delay: .5s;
animation-name: welcome2;
animation-duration: 2.5s;
position: relative;
animation-fill-mode:forwards;
  animation-iteration-count: 1;
  margin-left:5%;
}
p {
   margin-top:5px;
   margin-bottom:5px;
   display: block;
       
}
.menu      a {
        color: #FF0000;
        Text-decoration: none; 
      }
.menu td {
border-style: outset;

font-family:invasion2000;
	border-collapse: separate;
  border-width: 3px;
  border-spacing: 2px;
padding: 3px;
border-color: #00FF00;
}
.menu td:hover  {
border-style:none;
border-style: inset;
}
.menu td:nth-child(1)  {
background-image: url(../images/Rwoyh1RLJifC.gif);
}
.menu td:nth-child(3)  {
background-image: url(../images/g1dU3dwLr4pL.gif);
}
.menu td:nth-child(2)  {
background-image: url(../images/prIaP9bJ3hFd.gif);
}
.menu td:nth-child(4)  {
background-image: url(../images/TbwElosBaQOO.png);
}
.menu td:nth-child(5)  {
background-image: url(../images/Op7ear4HoFib.jpg);
}
      a {
        color: #8ebf42;
      }
    .image_off, #game:hover .image_on{
   display:none
}
.image_on, #game:hover .image_off{
   display:block
} 
